body {
	background-color: #dfdfdf;
	/*background-image: url(../../bg.png); */
	background-size: cover;
}

main {
	height: 100px;
	background-color: #009488;
}	

.border-cont {
	height: auto;
	padding-top: 1em;
}

.border-col {
	/*border: 1px solid #cbcbcb; */
}

.box-messages {
	height: 600px;
	background-color: #dfdfdf;
	background-image: url(../img/chat-panel-bg.png);
	background-size: cover;
	z-index: 1;
}

.box-messages {
	padding-left: 0;
}

.user-panel {
	width: 100%;
	height: 60px;
	padding: 8px 20px;
	background-color: #e3e2e1;
	border-right: 1px solid #cbcbcb;
}

.photo-profile {
	width: 38px;
	height: 36px;
	border-radius: 50%;
}

.photo-profile img {
	width: 100%;
	height: auto;
	border-radius: 50%;
}

.search {
	width: 100%;
	height: 50px;
	padding: 10px 10px;
	background-color: #fefefe;
	border-bottom: 1px solid #cdcdcd;
}

.search input {
	width: 90%;
	height: 30px;
	border: none;
	border: 1px solid #e3e2e1;
	border-radius: 6px;
	outline: none;
}

.fa-search {
	padding: 0px 5px;
}

.name, .lastdate, .inl-block {
	display: inline-block;
}

.name {
	color: #4b4b4b;
	font-weight: bold;
}

.friends {
	width: 100%;
	height: auto;
	margin-left: 0;
	padding: 8px;
	background-color: #fefefe;
	border-bottom: 1px solid #cdcdcd;
}

.friends-box {
	width: 100%;
}

.pad-x {
	padding-right: 5px;
	padding-left: 5px;
}


.friends-box {
	padding: 0;
}

.messages {
	width: 100%;
	height: 500px;
	padding: 10px 25px;
	text-align: right;
	overflow-y: scroll;
}

.lastdate {

}

.lastmessage {
	font-size: 0.9em;
	color: #7e7f8a;
}

.send-messages {
	width: 100%;
	padding: 10px 20px;
}

.lastconection {}

.friend-full {
}

.friend-panel {
	width: 98%;
	margin-left: 2%;
	padding: 10px;
}

.box-submessage {
	max-width: 50%;
	width: auto;
	background-color: #fefefe;
	padding: 5px 10px;
	border-radius: 4px;
}

.mymessage {
	width: 50%;
	background-color: #dcf6c5;
	padding: 5px 10px;
	border-radius: 4px;
}
.hour {
	font-size: 0.8em;
}